<!DOCTYPE html>
<html>
<head>
<title>TV Mode</title>

<script>
function speak(text){
    let speech = new SpeechSynthesisUtterance(text);
    speech.lang = "en-US";
    window.speechSynthesis.speak(speech);
}

setInterval(function(){
    fetch('/current_token')
    .then(res => res.json())
    .then(data => {
        document.getElementById("token").innerText = data.token;
        if(data.token !== "None"){
            speak("Token number " + data.token + " please go to the doctor");
        }
    });
}, 5000);
</script>

<style>
body {
    background: black;
    color: #00ffcc;
    text-align: center;
    font-size: 70px;
    margin-top: 100px;
    font-family: Arial;
}
.token-box {
    border: 5px solid #00ffcc;
    padding: 40px;
    display: inline-block;
    border-radius: 20px;
}
</style>
</head>

<body>
<h1>Now Serving</h1>
<div class="token-box">
<span id="token">Loading...</span>
</div>
</body>
</html>
